:root {
    --color-primary-text: #212121;
    --color-secondary-text: #757575;
    --color-accent-text: #2196f3;
    --color-logo-text: #000000;
    --color-white-text: #ffffff;
    --color-link-text: rgba(255, 255, 255, 0.6);
    --color-secondary-background: #f5f4fa;
    --hero-background-color: #c4c4c4;
    --color-footer-background: #2f303a;
    --color-hero-button-background: #188ce8;
    --shadow-bottom-first-color: rgba(0, 0, 0, 0.1);
    --shadow-bottom-second-color: rgba(0, 0, 0, 0.08);
    --shadow-bottom-third-color: rgba(0, 0, 0, 0.12);
    --cellar-link-background-color: rgba(255, 255, 255, 0.1);
    --portfolio-border-elements-color: #eeeeee;
    --border-bottom-header-color: #ececec;
    --color-link: #afb1b8;
    --gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    --button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
      0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    --portfolio-elements-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    --button-shadow-hero: 0px 4px 4px rgba(0, 0, 0, 0.15);
    --modal-background-color: rgba(0, 0, 0, 0.2);
    --modal-button-background-color: rgba(0, 0, 0, 0.1);
    --input-border-second: rgba(33, 33, 33, 0.2);
    --time-delay: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }