.button {
    display: block;
    height: 50px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border: none;
    color: var(--color-white-text);
    background-color: var(--color-hero-button-background);
    transition: color var(--time-delay), background-color var(--time-delay),
    box-shadow var(--time-delay);
  }