.portfolio__button {
  display: inline-block;
  border: 0px solid transparent;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 4px;
  min-width: 73px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-family: inherit;
  cursor: pointer;
  color: var(--color-primary-text);
  background-color: var(--color-secondary-background);
  transition: color var(--time-delay), background-color var(--time-delay),
    box-shadow var(--time-delay);
  &:hover,
  &:focus {
    color: var(--color-white-text);
    background-color: var(--color-accent-text);
    box-shadow: 0px 3px 1px var(--shadow-bottom-first-color),
      0px 1px 2px var(--shadow-bottom-second-color),
      0px 2px 2px var(--shadow-bottom-third-color);
  }
}

.portfolio__elements-text {
  position: absolute;
  top: 0;
  left: 0;
  margin: 2px;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.5555;
  letter-spacing: 0.03em;
  color: var(--color-white-text);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform var(--time-delay), transition-duration var(--time-delay);
  .portfolio__elements:hover & {
    transform: translatey(0);
    opacity: 1;
  }
}

.portfolio__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__subtitle {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  font-style: normal;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: var(--color-primary-text);
}

.portfolio__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0;
  justify-content: center;
}

.portfolio__elements {
  width: calc((100% - 60px) / 3);
  display: block;
  position: relative;
}

.portfolio__list .item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  color: rgba(33, 33, 33, 1);
}

.portfolio__elements:not(:nth-child(3n)) {
  margin-right: 30px;
}


// .p{
//   font-size: 1/14;
// }

.portfolio__elements:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio__link {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--time-delay);
}

.portfolio__card {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
  border-top: 0px;
  &:hover,
  &:focus {
    box-shadow: var(--portfolio-elements-shadow);
  }
}

.portfolio__elements-interactive {
  position: relative;
  overflow: hidden;
}

.basemant__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-link-text);
  transition: color var(--time-delay);
  &:hover,
  &:focus {
    color: var(--color-accent-text);
  }
}

.portfolio__text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--color-secondary-text);
}
